.about{
  padding:120px 10%;
  background:#050505;
  color:white;
}

.about-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:80px;
}

.about-text{
  max-width:500px;
}

.about-text h2{
  font-size:42px;
  margin-bottom:20px;
}

.about-text span{
  color:#ff2a2a;
}

.about-desc{
  margin-top:15px;
  color:#aaa;
  line-height:1.7;
}

/* SKILLS */

.skills{
  display:flex;
  gap:40px;
}

/* circle */

.circle{
  position:relative;
  text-align:center;
}

.circle svg{
  width:150px;
  height:150px;
  transform:rotate(-90deg);
}

circle{
  fill:none;
  stroke-width:10;
  stroke:#111;
}

.progress{
  stroke:#ff2a2a;
  stroke-dasharray:377;
  stroke-dashoffset:377;
  stroke-linecap:round;
}

.number{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-60%);
  font-size:22px;
  font-weight:bold;
}

.circle h4{
  margin-top:10px;
}